body {
  background-image: url(images/bg.jpg);
  color: #cdc6c3;
}

.navbar {
  background-color: rgba(0, 0, 0, 0) !important;
}

.navbar-brand {
  color: #cdc6c3 !important;
}

.card-wrapper {
  margin: 5% 0;
}

.card {
  background: rgba(0,0,0,0);
}

.custom-circle-image {
  width: 10vw;
  height: 10vw;
  box-shadow: 0 0 5px 5px green;
}

.cci1{
  box-shadow: 0 0 5px 5px red;
}

.cci2{
  box-shadow: 0 0 5px 5px blue;
}

.cci3{
  box-shadow: 0 0 5px 5px yellow;
}

.cci4{
  box-shadow: 0 0 5px 5px purple;
}

.custom-circle-image img {
  object-fit: cover;
}

.card-title {
  /* letter-spacing: 1.1px; */
  font-size: calc(1vw + 1vh);
}

.card-text {
  font-family: MerriweatherRegular;
  font-size: 22px;
  line-height: initial;
}

.dropzone {
  border-style: dashed;
  border-color: #cdc6c3;
  background: rgba(0,0,0,0);
}

.error {
  font-family: MerriweatherRegular;
  font-size: 30px;
  line-height: initial;
  color: blue;
  text-align: center;
}

#classTable {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#classTable td, #classTable th {
  border: 1px solid #cdc6c3;
  padding: 8px;
}

#classTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #5E5E5E;
}